{% extends "Proyecto2App/base.html" %}
{% load static %}
{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Proyecto2App/img/profesor-musica.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Clases Personalizadas</span>
            <span class="section-heading-lower">Horarios flexibles</span>
          </h2>
          <p class="mb-3">Aprende desde cero, o mejora tu habilidad con nuestros maestros especializados
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Con más de 30 años de experiencia en la enseñanza musical, desde clases de violín, piano, guitarra y mucho mas </p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
